.playlist {
  text-align: center;

  button {
    background-color: lightgray;
    color: black;
    padding: 10px;
    font-weight: 600;
    border: none;
    margin: 10px;
    outline: none;
  }

  .songs-list {
    margin-top: 20px;
  }  
}

.shuffle-text{
  display: flex;
  align-items:center;
  justify-content: space-between;

  span{
    padding-left:10px;
  }
}

.search-area {
    max-height: 400px;
    overflow-y: scroll;
  }
